# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/agent/build/
/custom/build/
.gradle
.idea
**/build/

# temporary files
*.md.tmp
version.gradle.kts.tmp

# other
.DS_Store
