include:
  - project: 'ci-cd/templates'
    ref: main
    file: '/prodsec/.sast-scan.yml'
  - project: 'ci-cd/templates'
    ref: main
    file: '/prodsec/.oss-scan.yml'

image:
  name: "docker.repo.splunkdev.net/ci-cd/ci-container/maven-3.8-jdk-17:1.15.0"

stages:
  - build
  - verify
  - release
  - post-release
  - troubleshooting

troubleshoot-start:
  stage: troubleshooting
  script:
    - echo "The troubleshooting has begun"
troubleshoot-any-tag:
  stage: troubleshooting
  rules:
    - if: '$CI_COMMIT_TAG != ""'
  script:
    - echo "We have a non-empty commit tag. Fun! $CI_COMMIT_TAG"
# Temporary job to use while investigating release tag issues
troubleshoot-tag:
  stage: troubleshooting
  artifacts: # Not necessary, but mimicking real release job
    when: always
    paths:
      - dist/
  rules:
    - if: $CI_COMMIT_TAG =~ /^troubleshoot-v[0-9]+\.[0-9]+\.[0-9]+/
  before_script:
    # Only keeping this here because the release job has it
    - ./scripts/install-gh-deps.sh
  script:
    - echo "YES! We are running with $CI_COMMIT_TAG"
troubleshoot-end:
  stage: troubleshooting
  rules:
    # Maybe single quotes break it now?
    - if: '$CI_COMMIT_TAG =~ /^troubleshoot-v[0-9]+\.[0-9]+\.[0-9]+/'
  script:
    - echo "This concludes our troubleshooting session. $CI_COMMIT_TAG"

build:
  stage: build
  script:
    - ./gradlew build -x :smoke-tests:test --scan --no-daemon --stacktrace

sast-scan:
  stage: verify
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
  extends: .sast_scan
  variables:
    SAST_SCANNER: "Semgrep"
    # Fail build on high severity security vulnerabilities
    alert_mode: "policy"

oss-scan:
  stage: verify
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
  extends: .oss-scan
  tags: []

snapshot:
  stage: release
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
  script:
    - ./gradlew assemble publishToSonatype --no-daemon --stacktrace

release:
  stage: release
  artifacts:
    when: always
    paths:
      - dist/
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+(-alpha)?.*/'
  before_script:
    - ./scripts/install-gh-deps.sh
  script:
    - ./scripts/release.sh "$CI_COMMIT_TAG"

publish-docker-image:
  stage: post-release
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+(-alpha)?.*/'
  variables:
    SIGNING_SERVICE_ADDR: "https://signing.prod.svc.splunk8s.io"
  id_tokens:
    CI_JOB_JWT:
      aud:
        - $CICD_VAULT_ADDR
        - $SIGNING_SERVICE_ADDR
  before_script:
    - ./scripts/install-docker-deps.sh
    - ./scripts/install-gh-deps.sh
  script:
    - ./scripts/publish-docker-image.sh "$CI_COMMIT_TAG"

propagate-version:
  stage: post-release
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+(-alpha)?.*/'
  before_script:
    - ./scripts/install-gh-deps.sh
  script:
    - ./scripts/propagate-version.sh "$CI_COMMIT_TAG"
