image:
  name: "openjdk:11.0.11-9-jdk"

stages:
  - build
  - release

build:
  stage: build
  script:
    - ./gradlew build -x :smoke-tests:test --scan --no-daemon --stacktrace

release:
  stage: release
  artifacts:
    paths:
      - dist/
  only:
    - tags
    - /^v[0-9]+\.[0-9]+\.[0-9]+.*/
  script:
    # make sure zip is available
    - apt-get update
    - apt-get -y install zip unzip
    # create release dir
    - mkdir -p dist
    # build the javaagent
    - ./gradlew -Prelease.useLastTag=true build final -x test --no-daemon
    - mv agent/build/libs/splunk-otel-javaagent-*-all.jar dist/splunk-otel-javaagent-all.jar
    # build the cloudfoundry buildpack
    - ./deployments/cloudfoundry/buildpack/build.sh
    - mv deployments/cloudfoundry/buildpack/splunk_otel_java_buildpack-linux.zip dist/
    # calculate checksums
    - shasum -a 256 dist/* > dist/checksums.txt
