<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- used by com.splunk.opentelemetry.logger.LoggerTestMain -->
  <appender name="consoleWithResource" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%logger - service=%X{service.name}, env=%X{environment}: %m%n</pattern>
    </encoder>
  </appender>

  <logger name="LoggerIntegrationTest" level="trace">
    <appender-ref ref="consoleWithResource"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="console"/>
  </root>

  <logger name="LoggerIntegrationTest" level="trace"/>
  <logger name="io.opentelemetry" level="debug"/>
  <logger name="com.splunk" level="debug"/>
  <logger name="com.github.dockerjava.api" level="debug"/>

</configuration>
