name: publish-profiling-petclinic-base-image
on: workflow_dispatch
jobs:
  push_to_registry:
    name: publish custom spring-petclinic base image for profiling
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: check out the repo
        uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: push to gh packages
        uses: docker/build-push-action@v2
        with:
          push: true
          file: smoke-tests/profiling-petclinic-base/Dockerfile
          tags: ghcr.io/signalfx/splunk-otel-java/profiling-petclinic-base:latest
