name: publish splunk-otel-java docker image to ghcr

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4.0.0
        with:
          fetch-depth: 0

      - uses: docker/setup-buildx-action@v2

      - name: Get the latest release version
        run: |
          if [[ "$GITHUB_REF_NAME" =~ ^v[0-9]+\.[0-9]+\.x$ ]]; then
            # get the latest tag on the release branch
            RELEASE_VERSION="$(git describe --abbrev=0)"
          elif [[ "$GITHUB_REF_NAME" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            RELEASE_VERSION="$GITHUB_REF_NAME"
          else 
            echo "This script can only be run on the tag or a release branch"
            exit 1
          fi
          echo RELEASE_VERSION=${RELEASE_VERSION} >> $GITHUB_ENV

      - name: Set the major version number
        run: echo MAJOR_VERSION=${GITHUB_REF_NAME} | sed -e 's/\..*//' >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2.2.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build and publish container
        uses: docker/build-push-action@v4.1.1
        with:
          push: true
          file: Dockerfile-ghcr
          build-args: |
            RELEASE_VER=${{ env.RELEASE_VERSION }}
          tags: |
            ghcr.io/signalfx/splunk-otel-java/splunk-otel-java:latest
            ghcr.io/signalfx/splunk-otel-java/splunk-otel-java:${{ env.MAJOR_VERSION }}
            ghcr.io/signalfx/splunk-otel-java/splunk-otel-java:${{ env.RELEASE_VERSION }}


