name: Build with upstream snapshot

on:
  schedule:
    # Run 2 hours after opentelemetry-java-instrumentation nightly runs
    - cron: "24 5 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11 for running Gradle
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11

      - name: Build and test
        run: ./gradlew -Psnapshot=yes build --scan --no-daemon
